* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    color: white;
    transition: all .5s ease-out;
}

body {
    background-color: black;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body .img {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: fixed;
    filter: blur(5px);
}

.card {
    width: 20em;
    height: 30em;
    background-color: rgba(69, 69, 69, 0.6);
    border-radius: 1em;


}

.searchbox {
    display: flex;
    justify-content: space-evenly;
    /* background-color: aqua; */
    padding: 1em;
}

.searchbox input {
    height: 3em;
    width: 17em;
    text-align: center;
    border-radius: 2em;
    border: none;
    outline: none;
    background-color: rgba(51, 51, 51, 0.5);

}

.searchbox button {
    height: 3em;
    width: 3em;
    text-align: center;
    border-radius: 2em;
    border: none;
    cursor: pointer;
    background-color: rgb(47, 47, 47);
    color: white;
}

.searchbox button img {
    height: 1em;



}

.searchbox button:active {
    background-color: rgb(71, 71, 255);
}

.invalid {
    text-align: center;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.weather-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-icon img {
    height: 10em;
}

.weather-icon .temp {
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-top: 1em;
}

.weather-icon .city {
    font-size: 2em;
    font-weight: 500;
    color: rgb(186, 186, 186);
}

.other {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5em;
}

.other img {
    width: 3.5em;
    padding: 0.4em;
}

.humidity,
.wind {
    display: flex;

}

.hum,
.w-s {
    font-weight: 700;
    margin-top: -.2em;
    margin-bottom: .65em;
    font-size: 1.1em;
}

.p2 {
    font-size: .8em;
    font-weight: 400;

}